<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WDC Test</title>
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Oxygen:700|Open+Sans:300' rel='stylesheet' type='text/css'>
        <!-- Reset -->
        <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
        <!-- Bundled Custom -->
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <!-- favicon -->
        <link id="favicon" rel="shortcut icon" href="favicon.ico">
        <!-- wdc -->
        <script src="https://connectors.tableau.com/libs/tableauwdc-2.0.0-beta.js" type="text/javascript"></script>
    </head>

    <body>
        {{{body}}}
    </body>
</html>
